html, body {
  background-color: #efefef;
}

.container {
  background-color: white;
  max-width: 550px;
}

.post-form {
  margin: 10px;
}

.avatar {
  width: 10%; 
  height: 10%; 
  border-radius: 50%; 
  margin-right: 5%,
}