html, body {
  background-color: #efefef;
}

.container {
  background-color: white;
  max-width: 550px;
}

.login-form {
  margin: 15px;
}

.post-form {
  margin: 10px;
}

.login-form {
  text-align: center; 
}

input {
  margin-bottom: 5px;
  margin-top: 5px;
}

button {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.avatar {
  border-radius: 50%;
  margin-left: auto; 
  margin-right: auto;
}
